{% extends 'base.html' %}{% block content %}
    <center>
        <h2>Change Password</h2>
    </center>
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            <div class="form-group"> {{form.as_p}}</div>
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
            <button class="btn btn-primary" type="submit">Save changes</button><br><br>

        </form>
        <a href="{{request.META.HTTP_REFERER | escape}}"><button class="btn btn-danger">Back</button></a>&nbsp;

    </div>
{% endblock %}