{% load static %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<br>
<div class="alert alert-info">
    <p style="font-family:courier;"><strong>Welcome to the Dashboard Support Ticket.</strong></p>
    <p style="font-family:courier;">You can create ticket for a question & answer forum with Customer Support staff.
    <br>Historic records of all correspondence can be reviewed through the Dashboard.</p>
</div>
<div class="row">
    <div class="col-md-8 mt-4">
        <div class="card">
            <div class="card-header bg-dark text-white">
                Statistics
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'Dashboard' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>My Tickets</h4>
                                    <h3>{{t_count}}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'all-tickets' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>All Tickets</h4>
                                    <h3>{{all_t}}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'open-tickets' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Active Tickets</h4>
                                    <h3>{{t_open}}</h3>
                                </div>
                            </div>
                        </a>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
